html,
body,
#app {
  height: 100%;
}

@font-face {
  font-family: BIN;
  src: url(../assets/fonts/din-bold.otf);
}
@font-face {
  font-family: DTITLE;
  src: url('https://ethanwp.oss-cn-shenzhen.aliyuncs.com/download/22ffb1db.ttf');
}
@font-face {
  font-family: STITLE;
  src: url('https://ethanwp.oss-cn-shenzhen.aliyuncs.com/dtitle.woff2');
}
* {
  font-family: DTITLE !important;
}
p,
span {
  color: #475669;
}
.ant-typography {
  color: #475669 !important;
}
/* 隐藏滚动条 */
*::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

/* fade-slide */
.fade-slide-leave-active,
.fade-slide-enter-active {
  transition: all 0.3s;
}
.fade-slide-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}
.fade-slide-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.ant-image-preview-img-wrapper::before {
  height: 20% !important;
}

.ant-carousel .slick-dots-bottom {
  bottom: 0 !important;
}

.ant-carousel .slick-dots li button {
  background: #000 !important;
}
.ant-carousel .slick-dots li.slick-active button {
  background: #1890ff !important;
}
mark {
  background: rgba(31, 139, 255, 0.1) !important;
  border-radius: 5px;
  color: rgba(31, 139, 255, 1);
  padding: 3px 5px !important;
  text-shadow: 0 2px 2px rgba(31, 139, 255, 0.3), 0 -1px #fff;
}

a {
  color: rgba(31, 139, 255, 1) !important;
  text-decoration: none;
  text-shadow: 2px 2px 2px rgba(31, 139, 255, 0.3) !important;
}

html {
  --primary-color: #1f8bff;
  --primary-opacity-1: rgba(31, 139, 255, 0.1);
  --primary-opacity-2: rgba(31, 139, 255, 0.2);
  --primary-opacity-3: rgba(31, 139, 255, 0.3);
  --primary-opacity-4: rgba(31, 139, 255, 0.4);
  --primary-opacity-5: rgba(31, 139, 255, 0.5);
  --primary-opacity-6: rgba(31, 139, 255, 0.6);
  --primary-opacity-7: rgba(31, 139, 255, 0.7);
  --primary-opacity-8: rgba(31, 139, 255, 0.8);
  --primary-opacity-9: rgba(31, 139, 255, 0.9);
  --analogous-color: #33bbff;
  --analogous-opacity-1: rgba(51, 187, 255, 0.1);
  --analogous-opacity-2: rgba(51, 187, 255, 0.2);
  --analogous-opacity-3: rgba(51, 187, 255, 0.3);
  --analogous-opacity-4: rgba(51, 187, 255, 0.4);
  --analogous-opacity-5: rgba(51, 187, 255, 0.5);
  --analogous-opacity-6: rgba(51, 187, 255, 0.6);
  --analogous-opacity-7: rgba(51, 187, 255, 0.7);
  --analogous-opacity-8: rgba(51, 187, 255, 0.8);
  --analogous-opacity-9: rgba(51, 187, 255, 0.9);
  --white-default: #fff;
  --white-opacity-1: rgba(255, 255, 255, 0.1);
  --white-opacity-2: rgba(255, 255, 255, 0.2);
  --white-opacity-3: rgba(255, 255, 255, 0.3);
  --white-opacity-4: rgba(255, 255, 255, 0.4);
  --white-opacity-5: rgba(255, 255, 255, 0.5);
  --white-opacity-6: rgba(255, 255, 255, 0.6);
  --white-opacity-7: rgba(255, 255, 255, 0.7);
  --white-opacity-8: rgba(255, 255, 255, 0.8);
  --white-opacity-9: rgba(255, 255, 255, 0.9);
  --success-color: #67c23a;
  --warning-color: #e6a23c;
  --error-color: #f56c6c;
  --gray-0: #1f2d3d;
  --gray-opacity-1: rgba(31, 45, 61, 0.1);
  --gray-opacity-2: rgba(31, 45, 61, 0.2);
  --gray-opacity-3: rgba(31, 45, 61, 0.3);
  --gray-opacity-4: rgba(31, 45, 61, 0.4);
  --gray-opacity-5: rgba(31, 45, 61, 0.5);
  --gray-opacity-6: rgba(31, 45, 61, 0.6);
  --gray-opacity-7: rgba(31, 45, 61, 0.7);
  --gray-opacity-8: rgba(31, 45, 61, 0.8);
  --gray-opacity-9: rgba(31, 45, 61, 0.9);
  --gray-1: #324057;
  --gray-2: #475669;
  --gray-3: #8492a6;
  --gray-4: #99a9bf;
  --gray-5: #c0ccda;
  --gray-6: #d3dce6;
  --gray-7: #e5e9f2;
  --gray-8: #eff2f7;
  --gray-9: #f2f7fc;
  --text-color: #324057;
  --text-color-2: #475669;
  --text-color-3: #758397;
  --text-color-4: #8492a6;
  --border-color-0: #cad4e0;
  --border-color: #d3dce6;
  --border-color-2: #e5e9f2;
  --border-color-3: #eff2f7;
  --bg-color: #e8f0fa;
  --text-shadow: rgba(255, 255, 255, 0.6);
}

.post-item.card {
  --a9623c62: #21487b;
  --1b949b71: #4882ce;
  --7c8a6572: rgba(33, 72, 123, 0.5);
  border: 1px solid var(--white-default);
  border-radius: 1em;
  background: linear-gradient(hsl(213, 40%, 97%) calc(100% - 1.5em), hsl(213, 40%, 93%));
  box-shadow: 0 1em 1em #1f2d3d26;
  text-align: center;
  text-shadow: 0 1px var(--white-default);
  transition: 0.25s;
  animation: itemEnter 0.5s ease-in-out alternate forwards;
  margin-bottom: 30px;
}
.post-item.card .img {
  position: relative;
  display: block;
  margin-top: -0.625em;
  width: calc(100% - 0.75em);
  padding-top: calc(89.45% - 0.67em);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.75em;
  box-shadow: 1px 0 var(--white-opacity-5), -1px 0 var(--white-opacity-5), 0 1px var(--white-opacity-5);
  transform-style: preserve-3d;
  transform: translateZ(0);
  transition: 0.25s;
  background-image: url('https://dsm.panda-studio.cn:6089/uploads/2022/10/miui_v5_wallpapper_category.jpg');
}
.item-fa:nth-of-type(2) .img {
  background-image: url('https://dsm.panda-studio.cn:6089/uploads/2022/07/UNxL5Y0UoocDcOOYnY5z9Nvv.jpg');
}
.item-fa:nth-of-type(3) .img {
  background-image: url('	https://dsm.panda-studio.cn:6089/uploads/2022/07/NPIRBwGzs8GT_YhUZSdgdyYt.jpg');
}
.item-fa:nth-of-type(4) .img {
  background-image: url('	https://ethanwp.oss-cn-shenzhen.aliyuncs.com/blog/2182919862173564928.heic');
}
.post-item.card .img:before {
  content: '';
  position: absolute;
  top: 0.75em;
  left: 0.4em;
  right: 0.4em;
  bottom: -0.75em;
  background-image: inherit;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.75em;
  opacity: 0.6;
  filter: blur(1em);
  transform-style: preserve-3d;
  transform: translateZ(-1px);
  transition: 0.25s;
}

.post-item.card .title {
  padding: 0 0.5em;
  margin: 1em 0 0.2em;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  text-shadow: 0 1px var(--white-default);
  transition: 0.25s;
  font-size: 17px;
  color: var(--text-color-2);
}
.post-item.card .img .date {
  display: flex;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0 0 0.75em 0.75em;
  height: 3em;
  justify-content: center;
  column-gap: 0.25em;
  font-size: 14px;
  align-items: center;
  text-decoration: none;
  color: #fff;
  text-shadow: 0 3px 3px rgb(0 0 0 / 30%);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.25s;
}
.svg-icon {
  vertical-align: -0.125em;
  fill: currentColor;
}
.post-item .metas,
.post-item .desc {
  font-size: 14px;
  display: flex;
  transform-origin: left;
  transition: 0.25s;
  color: #39c408;
  background: rgba(57, 196, 8, 0.15);
  border-radius: 9em;
  padding: 0 0.5em;
}
.post-item.card .metas,
.post-item .desc {
  column-gap: 1.2em;
  justify-content: center;
}
.post-item .metas span,
.post-item .desc span {
  display: flex;
  column-gap: 0.25em;
  justify-content: center;
  align-items: center;
}
.post-item.card .tags {
  width: 100%;
  transform-origin: right;
  padding: 0 0.5em;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.8);
  margin-top: -1em;
}
.post-item .tags {
  white-space: nowrap;
  overflow: hidden;
  mask-image: linear-gradient(90deg, #000 calc(100% - 1em), transparent calc(100% - 0.2em));
  transition: 0.25s;
}
.post-item .tags span,
.post-item .tags a {
  text-decoration: none;
  font-size: 13px;
  display: inline;
  margin-right: 0.5em;
  padding: 0.2em 0.5em;
  border-radius: 9em;
}
.post-item .metas.color-1 {
  color: #20a0ff;
  background: rgba(32, 160, 255, 0.15);
}
.post-item .metas.color-2 {
  color: #39c408;
  background: rgba(57, 196, 8, 0.15);
}
.post-item .metas.color-3 {
  color: #ff8400;
  background: rgba(255, 132, 0, 0.15);
}
.post-item .metas.color-4 {
  color: #837adc;
  background: rgba(131, 122, 220, 0.15);
}
.post-item .tags .color-4 {
  color: #837adc;
  background: rgba(131, 122, 220, 0.15);
}
.post-item.card .go {
  min-width: 50%;
  background: linear-gradient(90deg, #51a8f1, #b3d9f9);
  box-shadow: 0 0.5em 1.2em rgba(81, 168, 241, 0.5);
  font-size: 14px;
  margin: 0.3em 0 1.5em;
  padding: 0.45em 1.5em;
  border-radius: 9em;
  text-decoration: none;
  color: #fff !important;
  text-shadow: 0 2px 3px rgba(81, 168, 241, 0.5);
  transition: 0.25s;
}
.post-item.card:hover {
  transform: translateY(1em);
  box-shadow: 0 0.2em 0.4em #1f2d3d33;
}
.post-item.card:hover .img {
  transform: translateY(1em) translateZ(0);
}
.post-item.card:hover .img:before {
  opacity: 0;
}
.post-item.card:hover .img .date {
  opacity: 1;
}
.post-item.card:hover .title {
  transform: translateY(0.5em);
}
.post-item.card:hover .metas {
  transform: translateY(0.8em) scale(0.8);
  opacity: 0;
}
.post-item.card:hover .tags {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}
.post-item.card:hover .go {
  transform: translateY(0.3em);
}

@keyframes itemEnter {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.post-item .desc {
  background: transparent;
  margin: 0.2em 0 1em;
  padding: 0.2em 1em;
}
.post-item .desc .likes {
  color: var(--error-color);
}
.post-item .desc .comments {
  color: var(--primary-color);
}
.post-item .desc .views {
  color: var(--success-color);
}
